@import-normalize;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
ul,
li,
h2 {
  margin: 0;
  list-style: none;
  padding: 0;
}

.container {
  margin: 40px auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}
